body {
  font-family: "Covered By Your Grace", cursive;
  background: #eae3d8;
  background-image: url("https://i.pinimg.com/564x/fa/8a/a9/fa8aa9748e1e8f80628b4e19a91d9a32.jpg");
}

h1 {
  line-height: 28px;

  color: #9b8463;
  font-size: 35px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 10px;
  background: #cdceba;
  border-radius: 30px;
  opacity: 0.8;
  padding: 10px;
  text-decoration: double;
  color: #9b8463;
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
}
form {
  padding-top: 10px;
  padding-bottom: 30px;
  color: #c7b66e;
}
hr {
  color: #534735;
}
li:first-letter {
  text-transform: capitalize;
}

.container {
  background: #e8ded0;

  border-radius: 30px;
  background-image: url("https://i.pinimg.com/564x/6c/a6/e6/6ca6e6a6a776f9fada4686fc8d99000c.jpg");
}
.weather-app-wrapper {
  background: transparent;
  max-width: 800px;
  margin: 30px auto;

  padding-top: 20px;
}
.weather-app-2thwrapper {
  background: #e8ded0;
  margin: 40px auto;
  border: 2px solid #c7c8b4;
  border-radius: 30px;
  border-top-left-radius: 0;
  margin-bottom: 5px;
}
.weather-app {
  padding: 0 30px 0;

  border-radius: 15px;
}

.overview {
  margin-bottom: 50px;
  font-size: 37px;
  color: #9b8463;
}
.weather-temperature {
  margin-top: -10px;

  padding-bottom: 0;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  padding-bottom: 20px;
}

.weather-temperature strong {
  padding-bottom: 20px;

  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -20px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #51432e;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  color: #534735;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.button {
  background: #cfbb9c;
  padding: 5px 20px;
  border: 2px solid #aec5dc;
  border-radius: 15px;
  color: rgb(135, 135, 135);
  margin-top: -5px;
  font-size: 21px;
  font-weight: bolder;
}
.input1 {
  background: #e1d4c2;
  padding: 15px 40px;

  border: #fddab2;
}
.input1:focus {
  color: #988f66;
  background: #e1d4c2;
}
.date-c0l {
  padding-left: 70px;
}

.source-code {
  background: #cac5b0;
  color: #563b26;
  display: block;
  margin: 0 auto;
  background: #e8ded0;
  border-radius: 15px;
}
.ps {
  color: #563b26;
  opacity: 0.9;
  background: #f0e7db;
  display: block;
  margin: 0 auto;
  background: #e8ded0;
  border-radius: 15px;
}
